.u-font {

    &--shenttpuro {
        font-family: 'Shenttpuro', serif;
    }

    &--small {
        font-size: 15px;
    }

    &--medium {
        font-size: 20px;
    }

    &--bigger {
        font-size: 30px;
    }
}