.u-gradient {

    &--bottom {
        -webkit-mask-image: linear-gradient(to top, transparent 1%, black 30%) !important;
    }

    &--top-bottom {
        -webkit-mask-image:
            linear-gradient(to top, transparent 5%, black 50%, black 50%, transparent 95%) !important;
    }

    &--top-bottom-lite {
        -webkit-mask-image:
            linear-gradient(to top, transparent 1%, black 5%, black 95%, transparent 99%) !important;
    }
}