.c-img {
    -webkit-mask-image: linear-gradient(to right, transparent 1%, black 20%, black 80%, transparent 99%);
    
    &--portrait {
        filter: grayscale(100%);
    
        &:hover {
            filter: initial;
        }
    }

    &--arrow {
        filter: invert(1);
        transform: rotate(40deg);
    }

    &--background-invert {
        filter: invert(1);
    }

    &--background-gray {
        filter: grayscale(100%);
    }
}