:root {
  --global-max-width: 80rem; // 1280px
  --global-padding-x: 1.25rem; // 20px

  --header-height: 3.438rem; // 55px
  --footer-height: 3rem; // 80px

  --medium-icon-measure: 2.5rem; // 40px
  --small-icon-measure: 1.25rem; // 20px
}