.l-contact {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    top: 76%;
    gap: 20px;

    &__anchor {
        position: absolute;
        top: 18%;
    }
}