.l-email {
    position: relative;
    display: flex;
    // z-index: var(--z-index-overlay);

    &:hover {
        .c-email__tag {
            visibility: visible;
            width: auto;
            height: auto;
            padding: 4px 8px;
        }
    }

    &__tag {
        position: absolute;
        visibility: hidden;
        width: 0;
        height: 0;
        top: 50px;
        left: 50%;
        transform: translate(-50%);
    }
}
