@use '../01-settings/breakpoint';

.l-img {
    position: relative;
    display: flex;

    &--portrait {
        min-width: 500px;
        min-height: 800px;
        width: 500px;
        height: 800px;
    
        @include breakpoint.breakpoint(small-only) {
            order: -1;
            min-width: 100px;
            min-height: 480px;
            width: 300px;
            height: 480px;
            z-index: var(--z-index-bellow);
        }
    }

    &--arrow {
        position: absolute;

        top: 57%;
        left: 48.6%;
        translate: (0, 50%);

        min-width: 50px;
        min-height: 100px;
        width: 30px;
        height: 100px;
    }
}